<!doctype html><html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta property="og:url" content="https://gradio.app/"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content=""/>
<meta property="og:title" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@teamGradio">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156449732-1"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-156449732-1');
    try {
      window.config = {"allow_embedding": false, "allow_flagging": true, "allow_interpretation": false, "allow_screenshot": true, "article": null, "description": null, "examples_per_page": 10, "flagging_options": null, "function_count": 1, "input_components": [{"default": "", "label": "sentence1", "lines": 1, "name": "textbox", "placeholder": null}, {"default": "", "label": "sentence2", "lines": 1, "name": "textbox", "placeholder": null}], "layout": "horizontal", "live": false, "output_components": [{"label": "Output", "name": "textbox"}], "show_input": true, "show_output": true, "theme": "default", "thumbnail": null, "title": null};
    } catch (e) {
      window.config = {};
    }
    </script>
    <title>Gradio</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="static/bundle.css" rel="stylesheet">
    <link href="static/css/main.bc3b604e.css" rel="stylesheet">
</head>
<body>
    <div id="root">
    </div>
    <script src="static/bundle.js"></script>
</body>
</html>
